<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/headerFragment.html}"/>
</head>
<body>
<header th:insert="~{fragments/navbarFragment.html}"></header>
<div class="container">
    <h1 th:text="#{message.update.password}"></h1>

    <form method="post" th:action="@{/api/change-password}" th:object="${password}">
        <div class="mb-3">
            <label for="oldPassword" class="col-sm-2" th:text="#{label.user.old.password}"></label>
            <input class="form-control" id="oldPassword" name="oldPassword" type="password" required />
        </div>

        <div class="mb-3">
            <label for="password" class="col-sm-2" th:text="#{label.user.new.password}"></label>
            <input class="form-control" id="password" th:field="*{password}" type="password" required />
            <p th:each="error : ${#fields.errors('password')}" th:text="${error}" class="mt-3 text-danger"></p>
        </div>

        <div class="mb-3">
            <label for="matchPassword" class="col-sm-2" th:text="#{label.user.confirmPass}"></label>
            <input class="form-control" id="matchPassword" th:field="*{matchingPassword}" type="password" required />
        </div>
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <span th:text="${error}"></span>
        </div>
        <div th:if="${success}" class="alert alert-success" role="alert">
            <span th:text="${success}"></span>
        </div>
        <button class="mt-3 btn btn-primary" th:text="#{message.change.password}" type="submit"></button>
    </form>
</div>
</body>
</html>
