<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/headerFragment.html}"/>
</head>
<body>
<header th:insert="~{fragments/navbarFragment.html}"></header>
<div class="container">
    <h1 th:text="#{message.reset.password}">Reset</h1>

    <form method="post" th:action="${'/api/reset-password'}">
        <div class="mb-3">
            <label for="email" th:text="#{label.user.email}">Email</label>
            <input id="email" name="email" type="email" class="form-control"/>
        </div>
        <button class="btn btn-primary" type="submit" th:text="#{message.reset.password}"></button>
    </form>

    <div class="form-group mb-3">
        Don't have an account ?
        <a th:href="@{registration}" th:text="#{label.form.login.signup}"></a>
    </div>

    <div class="form-group mb-3">
        Already have an account ?
        <a th:href="@{/login}" th:text="#{label.form.loginLink}"></a>
    </div>
</div>
</body>
</html>
