<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/headerFragment.html}"/>
</head>
<body>
<header th:insert="~{fragments/navbarFragment.html}"></header>
<div class="container">
    <h1 th:text="#{message.reset.password}">Reset</h1>

    <div class="form-group">
        <label for="email" th:text="#{label.user.email}">Email</label>
        <input id="email" name="email" type="email" class="form-control"/>
        <button type="submit" th:text="#{message.reset.password}" class="btn btn-primary mb-2">reset</button>

    </div>
    <div class="form-group mb-3">
        Don't have an account ?
        <a th:href="@{registration}" th:text="#{label.form.login.signup}">
            regisSign up
        </a>
        <a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>
    </div>
</div>
</body>
</html>
