<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/headerFragment.html}"/>
</head>
<body>
<header th:insert="~{fragments/navbarFragment.html}"></header>
<div class="container">
    <form method="post" th:action="@{/api/save-password(token=${token})}">
        <label for="password" class="col-sm-2" th:text="#{label.user.new.password}"></label>
        <input class="form-control" id="password" name="password" type="password" required />

        <label for="matchPassword" class="col-sm-2" th:text="#{label.user.confirmPass}"></label>
        <input class="form-control" id="matchPassword" name="matchPassword" type="password" required />

        <button class="mt-3 btn btn-primary" th:text="#{message.change.password}" type="submit"></button>
    </form>
</div>
</body>
</html>
