<nav th:with="baseUrl=@{/api/v1/books}" class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" th:href="${baseUrl}">Book Store</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active text-white" th:href="${baseUrl}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="${baseUrl + '/new'}">Add Book</a>
                </li>
            </ul>
        </div>
        <form th:action="${baseUrl}" class="form-inline my-2 my-lg-0">
            <div class="row">
                <div class="col-8">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword" th:value="${keyword}" >
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</nav>
