<nav th:with="baseUrl=@{/api/v1/books}" class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" th:href="${baseUrl}">Book Store</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active text-white" th:href="${baseUrl}">[[#{navbar.home}]]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="${baseUrl + '/new'}">[[#{navbar.add}]]</a>
                </li>
            </ul>
        </div>

        <div class="me-3">
            <select class="form-select" id="languageSelect" onchange="changeLanguage(this)">
                <option value="en">English</option>
                <option value="fr">Français</option>
            </select>
        </div>

        <form th:action="${baseUrl}" class="form-inline my-2 my-lg-0">
            <div class="row">
                <div class="col-8">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword" th:value="${keyword}" >
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">[[#{navbar.search}]]</button>
                </div>
            </div>
        </form>

        <li class="nav-item dropdown" th:if="${#authorization.expression('isAuthenticated()')}">
            <a class="nav-link dropdown-toggle text-white align-middle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user fa-lg text-white"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/api/my-account">My account</a>
                <a class="dropdown-item" href="/logout">Log out</a>
            </div>
        </li>

    </div>
</nav>

<script th:inline="javascript">
    function changeLanguage(selectElement) {
        let selectedLanguage = selectElement.value;
        localStorage.setItem('selectedLanguage', selectedLanguage);
        let currentUrl = window.location.href;
        if (currentUrl.includes('lang=')) {
            const regex = /lang=[a-z]{2}/;
            currentUrl = currentUrl.replace(regex, 'lang=' + selectedLanguage);
        } else {
            currentUrl += (currentUrl.includes('?') ? '&' : '?') + 'lang=' + selectedLanguage;
        }
        window.location.href = currentUrl;
    }

    const storedLanguage = localStorage.getItem('selectedLanguage');
    if (storedLanguage) {
        document.getElementById('languageSelect').value = storedLanguage;
    }
</script>

