<head xmlns:th="http://www.thymeleaf.org">
    <th:block th:insert="~{fragments/headerFragment.html}" />
</head>
<body>
<header th:insert="~{fragments/navbarFragment.html}"></header>
<main th:with="baseUrl=@{/api/v1/books}" class="container-fluid">
    <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            <h1 th:text="#{label.add.form.title}"></h1>

            <form method="post" th:action="${baseUrl + '/save'}" th:object="${book}" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="titleInput"  th:text="#{label.book.title}"></label>
                    <input class="form-control" id="titleInput" th:field="*{title}" type="text" required>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="authorInput" th:text="#{label.book.author}"></label>
                    <input class="form-control" id="authorInput" th:field="*{author}" type="text" required>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="publisherInput" th:text="#{label.book.publisher}"></label>
                    <input class="form-control" id="publisherInput" th:field="*{publisher}" type="text">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="yearInput" th:text="#{label.book.year}"></label>
                    <input class="form-control" id="yearInput" min="1900" step="1" th:field="*{year}" th:max="${currentYear}"
                           type="number" required>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="priceInput" th:text="#{label.book.price}"></label>
                    <input class="form-control" id="priceInput" min="2" step="0.1" th:field="*{price}" type="number" required>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="bookCoverInput" th:text="#{label.book.bookCover}"></label>
                    <input class="form-control" id="bookCoverInput" name="image" type="file" accept="image/png, image/jpeg">
                </div>

                <button class="btn btn-primary" type="submit" th:text="#{label.book.submit}"></button>
            </form>
        </div>
    </div>
</main>
</body>
