<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/headerFragment.html}"/>
</head>
<body>
    <head th:insert="~{fragments/navbarFragment.html}"></head>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center">Book Details</h1>
                <hr/>
                <table class="table table-bordered table-hover">
                    <tbody>
                    <tr>
                        <td>Title</td>
                        <td th:text="${book.title}">Title</td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td th:text="${book.author}">Author</td>
                    </tr>
                    <tr>
                        <td>Publisher</td>
                        <td th:text="${book.publisher}">Publisher</td>
                    </tr>
                    <tr>
                        <td>Year</td>
                        <td th:text="${book.year}">Year</td>
                    </tr>
                    </tbody>
                </table>
                <div class="btn-group" role="group">
                    <a class="btn btn-primary me-2" th:href="@{/api/v1/books/edit/{id}(id=${book.id})}">Edit</a>
                    <a class="btn btn-danger" th:href="@{/api/v1/books/delete/{id}(id=${book.id})}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
