<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/headerFragment.html}" />
</head>
<body>
<header th:insert="~{fragments/navbarFragment.html}"></header>
<main class="container-fluid">
    <div class="row">
        <div class="mx-auto col-10 col-md-8">
            <div th:if="${books.size() > 0}">
                <table class="table table-hover table-responsive-xl">
                    <thead class="thead-light">
                    <tr>
                        <th>
                            <a th:href="@{/api/v1/books(page=${currentPage}, size=${pageSize}, sortField='title', sortDirection=${sortDirection == 'asc' ? 'desc' : 'asc'})}"
                               th:text="#{label.book.title}"></a>
                            <span th:if="${sortField == 'title'}">
                                <span th:if="${sortDirection == 'asc'}">▲</span>
                                <span th:if="${sortDirection == 'desc'}">▼</span>
                            </span>
                        </th>
                        <th>
                            <a th:href="@{/api/v1/books(page=${currentPage}, size=${pageSize}, sortField='author', sortDirection=${sortDirection == 'asc' ? 'desc' : 'asc'})}"
                               th:text="#{label.book.author}"></a>
                            <span th:if="${sortField == 'author'}">
                                <span th:if="${sortDirection == 'asc'}">▲</span>
                                <span th:if="${sortDirection == 'desc'}">▼</span>
                            </span>
                        </th>
                        <th>
                            <a th:href="@{/api/v1/books(page=${currentPage}, size=${pageSize}, sortField='publisher', sortDirection=${sortDirection == 'asc' ? 'desc' : 'asc'})}"
                               th:text="#{label.book.publisher}"></a>
                            <span th:if="${sortField == 'publisher'}">
                                <span th:if="${sortDirection == 'asc'}">▲</span>
                                <span th:if="${sortDirection == 'desc'}">▼</span>
                            </span>
                        </th>
                        <th>
                            <a th:href="@{/api/v1/books(page=${currentPage}, size=${pageSize}, sortField='year', sortDirection=${sortDirection == 'asc' ? 'desc' : 'asc'})}"
                               th:text="#{label.book.year}"></a>
                            <span th:if="${sortField == 'year'}">
                                <span th:if="${sortDirection == 'asc'}">▲</span>
                                <span th:if="${sortDirection == 'desc'}">▼</span>
                            </span>
                        </th>
                        <th>
                            <a th:href="@{/api/v1/books(page=${currentPage}, size=${pageSize}, sortField='price', sortDirection=${sortDirection == 'asc' ? 'desc' : 'asc'})}"
                               th:text="#{label.book.price}"></a>
                            <span th:if="${sortField == 'price'}">
                                <span th:if="${sortDirection == 'asc'}">▲</span>
                                <span th:if="${sortDirection == 'desc'}">▼</span>
                            </span>
                        </th>
                        <th>[[#{label.home.action}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:with="baseUrl=@{/api/v1/books}" th:each="book : ${books}">
                        <td>
                            <a th:href="@{/api/v1/books/details/{id}(id=${book.id})}" th:text="${book.title}"></a>
                        </td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.publisher}"></td>
                        <td th:text="${book.year}"></td>
                        <td th:text="${book.price}"></td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary me-2"
                                   th:href="@{/api/v1/books/edit/{id}(id=${book.id})}">[[#{label.book.edit}]]</a>
                                <a class="btn btn-danger"
                                   th:href="@{/api/v1/books/delete/{id}(id=${book.id})}">[[#{label.book.delete}]]</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <nav aria-label="Pagination" th:if="${totalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="~{fragments/paging :: paging(1, '<<', 'First Page', ${sortField}, ${sortDirection})}"></a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="~{fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page', ${sortField}, ${sortDirection})}"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                <a th:replace="~{fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page}, ${sortField}, ${sortDirection})}"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="~{fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page', ${sortField}, ${sortDirection})}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="~{fragments/paging :: paging(${totalPages}, '>>', 'Last Page', ${sortField}, ${sortDirection})}"></a>
            </li>
        </ul>
    </nav>
</main>
<script crossorigin="anonymous" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
